<html>
  <head>
<title>This is my Angular</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <th>Customer Number</th>
        <th>First Name</th>
        <th> Last Name</th>
        <th> Birth Date</th>
        <th> Username</th>
        <th> Password</th>
        <th>Phone Number</th>
        <th> Phone Type</th>
        <th> Action </th>
      </thead>
      <tbody>
        <tr *ngFor="let cust of listCustomer">
          <td><a (click)="selectCustomer(cust);"><u>{{cust.customerNumber}}</u></a></td>
          <td>{{cust.firstName}}</td>
          <td>{{cust.lastName}}</td>
          <td>{{cust.birthDate}}</td>
          <td>{{cust.username}}</td>
          <td>{{cust.password}}</td>
          <td>{{cust.phoneNumber}}</td>
          <td>{{cust.phoneType}}</td>
          <td>
          <button (click)="delete(cust.customerNumber)">clear</button></td>
        </tr>
      </tbody>
    </table>
    <div>
      <app-customer-form *ngIf="showDetail" [customer]="selectedCustomer" (result)="prosesResult($event)"></app-customer-form>
    </div>
  </body>
</html>
