<html>
  <head>
    <title>

    </title>
  </head>
  <body><h1> Form Customer </h1>
    <form [formGroup]="custForm">
    <table>
      <tr><td>FirstName:</td>
      <td> <input type="text"  formControlName="firstName"></td><br>
    </tr>
    <tr>
      <td>Lastname: </td>
      <td><input type="text" formControlName="lastName"></td><br>
    </tr>
    <tr>
      <td>Birth Date: </td>
      <td><input type="date" formControlName="birthDate"></td>
    </tr>
    <tr>
      <td>Username: </td>
      <td><input type="text" formControlName="username"></td>
    </tr>
    <tr>
      <td>Password: </td>
      <td><input type="text" formControlName="password"></td>
    </tr>
    <tr>
      <td>PhoneNumber:</td>
      <td><input type="number" formControlName="phoneNumber"></td>
    </tr>
    <tr>
      <td>PhoneType:</td>
      <td><input type="text" formControlName="phoneType"></td>
    </tr>
    </table>
    </form>
    <button type="button" (click)="cancelChanges()">Cancel</button>
    <button type="button" (click)="submitData()">Update</button>
    <button type="button" (click)="insertData()">Insert</button>
  </body>
</html>
