<html>
  <head>
<title>This is my Angular</title>
  </head>
  <body>
      <button type="button" class="btn btn-danger" [routerLink]="['/create-form']" routerLinkActive="router-link-active">Add</button>
    <table class="table table-striped">
      <thead>
        <th scope="col">Account Number</th>
        <th scope="col">Open Date</th>
        <th scope="col"> Balance</th>
        <th scope="col"> Customer Name</th>
        <th scope="col"> Action </th>
      </thead>
      <tbody>
        <tr *ngFor="let acco of listAccount">
          <td><a (click)="selectAccount(acco);"><u>{{acco.accountNumber}}</u></a></td>
          <td>{{acco.openDate}}</td>
          <!-- <td>{{acco.balance | enigma}}</td> -->
          <td>{{acco.balance | currency:'Rp '}}</td>
          <td>{{acco.customer ? acco.customer.customerNumber : ""}}</td>
          <!-- <td>{{acco.customer.firstName}}</td> -->
          <td>
          <button type="button" class="btn btn-danger" (click)="deleteacc(acco.accountNumber)">clear</button>
          <button type="button" class="btn btn-success" (click)="viewTransaction(acco)">view Trans</button>
        </td>
        </tr>
      </tbody>
    </table>
    <div>
      <app-account-form #formAccount *ngIf="showDetailAcc" [account]="selectedAccount" (result)="prosesResult($event)"></app-account-form>
    </div>
  </body>
</html>
